Source: twelve
Maintainer: Yaroslav Zvezda <acroreiser@gmail.com>
Section: devel
Priority: optional
Version: 0
Package: twelve
Architecture: all
Depends: p7zip-full, bash, sed, git
Description: Twelve - a tiny wrapper for ApkTool, SignApk & ADB.
Installed-Size: 7890
